@{
    ViewBag.Title = "O nama";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Ulazničar je osmišljen kao platforma za lakše rukovanje ulaznicama i olakšavanja procesa kupovine i razmjene. Uz to,
    Ulazničar omogućava svojim korisnicima da pošalju kartu na printanje u ovlaštene servise ili da koriste svoj pametni telefon 
    kao ulaznicu - promovirajući ekologiju (štednja papira) i uštedu vremena (manje gužve na ulazu)
</p>

<p>
    Ulazničar je izrađen u sklopu završnog rada studentice Marine Brebrić na Fakultetu elektrotehnike i računarstva.
</p>