@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Fakultet elektrotehnike i računarstva<br />
    Unska 3<br />
    Zagreb, 10000 Hrvatska<br />

</address>

<address>
    <strong>Korisnička podrška:</strong>   <a href="mailto:marinabrebric@gmail.com">marina.brebric@fer.hr</a><br />
</address>