@{
    ViewBag.Title = "Početna stranica";
}

<div class="jumbotron">
    <h1>Ulazničar</h1>
    <p class="lead">Ulazničar je vaš portal gdje možete kupiti ulaznicu za neki događaj, istu koristiti putem svog mobilnog uređaja za ulazak na događaj ili staviti kupljenu ulaznicu na burzu ukoliko ste ipak promijenili mišljenje... mogućnosti su otvorene!</p>
</div>

<div class="column">
    <p>Pretražite najnovije događaje po lokaciji ili po vrsti događanja</p>
    <p><a class="btn btn-default" href="~/Dogadjaj/Index">Pregledaj! &raquo;</a></p>

</div>
